@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 3.92%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 3.92%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 3.92%;

    --primary: 343.1 87.65% 15.88%;
    --primary-foreground: 0 0% 98%;

    --secondary: 40.6 96.1% 40.4%;
    --secondary-foreground: 0 0% 3.92%;

    --muted: 0 0% 89.8%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 345.3 82.7% 40.8%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 3.92%;

    --border: 0 0% 83.1%;
    --input: 0 0% 83.1%;
    --ring: 40.6 96.1% 40.4%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}
